{% extends "base.html" %} {% block title %}Inventory{% endblock %}
{% block content %}
  <h3 align="center">Inventory</h3>
<br>
    <div class="col-md-8">
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
            </div>
            <div class="portlet-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>ISBN</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <th scope="row">1</th>
                            <td> Intro to Biology</td>
                            <td> 0-9825-2465-X</td>
                            <td> 64 </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr class="success">
                            <th scope="row">3</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr class="info">
                            <th scope="row">5</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr class="warning">
                            <th scope="row">7</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr class="danger">
                            <th scope="row">9</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr class="danger">
                            <th scope="row">9</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
