{% extends "base.html" %} {% block title %}Teacher Profile{% endblock %}
{% block content %}
<h3>
</h3>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <!--<div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                            <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                            <a href="javascript:void(0);" class="dropdown-item">Block</a>
                        </div>
                    </div> -->
                    <div class="d-flex align-items-start">
                        <div class="w-100 ms-3">
                            <h4 class="my-0">Prof. {{user.first_name}}</h4>
                            <a href="/teacherMessages" class="btn btn-soft-success btn-xs waves-effect mb-2 waves-light">Messages</a>
                        </div>
                    </div>

                    <div class="mt-3">

                        <p class="text-muted mb-1 font-13"><strong>School :</strong> <span class="ms-2">{{user.school}}</span></p>
                    </div>

                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-body">
<!--<button class="open-button" onclick="openForm()">Create Class Group</button> -->

<div class="form-popup" id="myForm">
  <form method="POST" class="form-container">
    <h1>Create Class Group</h1>

    <label for="classname"><b>Class Name</b></label>
    <input type="text" placeholder="Enter Class Name" id="classname" name="classname" required>

    <label for="classnum"><b>Class Number</b></label>
    <input type="text" placeholder="Enter 4-Digit Class Number" id="classnum" name="classnum" required>
  <br>
    <button type="submit" class="btn">Create</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

                    <h4 class="header-title mb-3">Class Groups <i class="mdi mdi-account-multiple ms-1"></i></h4>
                    <div class="list-group">
                        {% for classgroup in user.classgroup %}
                        {% if classgroup.class_name == "Calculus" or classgroup.class_name == "calculus" %}
                        <a href="/calculus" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "US History" or classgroup.class_name == "us history" %}
                        <a href="/ushistory" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Chemistry" or classgroup.class_name == "chemistry" %}
                        <a href="/chemistry" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "English" or classgroup.class_name == "english" %}
                        <a href="/english" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Geology" or classgroup.class_name == "geology" %}
                        <a href="/geology" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "History" or classgroup.class_name == "history" %}
                        <a href="/history" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Physics" or classgroup.class_name == "physics" %}
                        <a href="/physics" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Biology" or classgroup.class_name == "biology" %}
                        <a href="/biology" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Algebra" or classgroup.class_name == "algebra" %}
                        <a href="/algebra" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Precalculus" or classgroup.class_name == "precalculus" %}
                        <a href="/precalculus" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Programming" or classgroup.class_name == "programming" %}
                        <a href="/programming" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Literature" or classgroup.class_name == "literature" %}
                        <a href="/literature" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "World History" or classgroup.class_name == "world history" %}
                        <a href="/worldhistory" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Science" or classgroup.class_name == "science" %}
                        <a href="/science" class="list-group-item list-group-item-action">
                        {% elif classgroup.class_name == "Math" or classgroup.class_name == "math" %}
                        <a href="/math" class="list-group-item list-group-item-action">
                        {% else %}
                        <a href="/classgroup" class="list-group-item list-group-item-action">
                        {% endif %}
                            <div class="d-flex align-items-center pb-1" id="tooltips-container">
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1" id={{classgroup.class_num}} onclick="classinfo()">{{classgroup.class_name}}</h5>
                                </div>
                                <i class="mdi mdi-chevron-right h2"></i>
                            </div>
                        </a>
                        {% endfor %}

<script>
function classinfo() {
    sessionStorage.setItem("Classnum", id)
}
</script>

                        <a href="/english" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center pb-1" id="tooltips-container">
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1">English</h5>
                                </div>
                                <i class="mdi mdi-chevron-right h2"></i>
                            </div>
                        </a>
                        <a href="/calculus" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center pb-1" id="tooltips-container">
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1">Calculus</h5>
                                </div>
                                <i class="mdi mdi-chevron-right h2"></i>
                            </div>
                        </a>
                        <a href="/chemistry" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center pb-1" id="tooltips-container">
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1">Chemistry</h5>
                                </div>
                                <i class="mdi mdi-chevron-right h2"></i>
                            </div>
                        </a>
                        <a href="/geology" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center pb-1" id="tooltips-container">
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1">Geology</h5>
                                </div>
                                <i class="mdi mdi-chevron-right h2"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                   <h4 class="header-title mb-3">Upcoming Reminders <i class="mdi mdi-adjust ms-1"></i></h4>

                    <div class="list-group">
                        <a href="#" class="my-1">
                            <div class="d-flex align-items-start" id="tooltips-container">
                                <div class="">
                                    <i class="mdi mdi-circle h3 text-primary"></i>
                                </div>
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1 mt-0">Class Introduction to Literature</h5>
                                    <ul class="list-inline text-muted font-12">
                                        <li class="list-inline-item"><i class="mdi mdi-calendar-blank-outline me-1"></i>10 May 2021</li>
                                        <li class="list-inline-item"> - </li>
                                        <li class="list-inline-item"><i class="mdi mdi-clock-time-eight-outline me-1"></i>09:00am <span class="px-1">To</span> 10:30am</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="my-1">
                            <div class="d-flex align-items-start" id="tooltips-container">
                                <div class="">
                                    <i class="mdi mdi-circle h3 text-pink"></i>
                                </div>
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1 mt-0">Lunch Meeting with Librarian</h5>
                                    <ul class="list-inline text-muted font-12">
                                        <li class="list-inline-item"><i class="mdi mdi-calendar-blank-outline me-1"></i>10 May 2021</li>
                                        <li class="list-inline-item"> - </li>
                                        <li class="list-inline-item"><i class="mdi mdi-clock-time-eight-outline me-1"></i>02:00pm <span class="px-1">To</span> 4:00pm</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="my-1">
                            <div class="d-flex align-items-start" id="tooltips-container">
                                <div class="">
                                    <i class="mdi mdi-circle h3 text-success"></i>
                                </div>
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1 mt-0">Student Independent Study</h5>
                                    <ul class="list-inline text-muted font-12">
                                        <li class="list-inline-item"><i class="mdi mdi-calendar-blank-outline me-1"></i>11 May 2021</li>
                                        <li class="list-inline-item"> - </li>
                                        <li class="list-inline-item"><i class="mdi mdi-clock-time-eight-outline me-1"></i>08:00am <span class="px-1">To</span> 11:20am</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="my-1">
                            <div class="d-flex align-items-start" id="tooltips-container">
                                <div class="">
                                    <i class="mdi mdi-circle h3 text-warning"></i>
                                </div>
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1 mt-0">Resource Discussions</h5>
                                    <ul class="list-inline text-muted font-12">
                                        <li class="list-inline-item"><i class="mdi mdi-calendar-blank-outline me-1"></i>11 May 2021</li>
                                        <li class="list-inline-item"> - </li>
                                        <li class="list-inline-item"><i class="mdi mdi-clock-time-eight-outline me-1"></i>12:00am <span class="px-1">To</span> 03:00am</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="my-1">
                            <div class="d-flex align-items-start" id="tooltips-container">
                                <div class="">
                                    <i class="mdi mdi-circle h3 text-dark"></i>
                                </div>
                                <div class="w-100 ms-2">
                                    <h5 class="mb-1 mt-0">Principal Meeting</h5>
                                    <ul class="list-inline text-muted font-12">
                                        <li class="list-inline-item"><i class="mdi mdi-calendar-blank-outline me-1"></i>12 May 2021</li>
                                        <li class="list-inline-item"> - </li>
                                        <li class="list-inline-item"><i class="mdi mdi-clock-time-eight-outline me-1"></i>08:30am <span class="px-1">To</span> 10:00am</li>
                                    </ul>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-xl-7">
            <div class="card">
                <div class="card-body">
                    <!-- comment box -->
                    <h3 align="center">ANNOUNCEMENTS</h3>
                    <br>
                    <!-- end comment box -->

                    <!-- Story Box-->
                    {% for note in user.notes %}
                    <div class="border border-light p-2 mb-3">
                        <div class="d-flex align-items-start">
                            <div class="w-100">
                                <h5 class=""> Prof. {{user.first_name}} <small class="text-muted"></small></h5>
                                <div class="">
                                    {{note.data}}
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                    <!-- Story Box-->
                    <div class="border border-light p-2 mb-3">
                        <div class="d-flex align-items-start">
                            <div class="w-100">
                                <h5 class=""> Prof. {{user.first_name}} <small class="text-muted"> 1 hour ago</small></h5>
                                <div class="">
                                    Hello class, I have received word we can finally add "Accelerated C++"
                                    to be apart of our resource library.
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Story Box-->
                    <div class="border border-light p-2 mb-3">
                        <div class="d-flex align-items-start">
                            <div class="w-100">
                                <h5 class="m-0">Prof. {{user.first_name}}</h5>
                                <p class="text-muted"><small>about 2 minutes ago</small></p>
                            </div>
                        </div>
                        <p>Check out these awesome resources for those who are interested in CS!</p>

                        <img src="https://images-na.ssl-images-amazon.com/images/I/91JLJ+dZOUL.jpg" alt="post-img" class="rounded me-1" height="60">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51Uvm67LJuL._SX331_BO1,204,203,200_.jpg" alt="post-img" class="rounded me-1" height="60">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1444537944l/27110788._SX318_.jpg" alt="post-img" class="rounded" height="60">
                    </div>

                    <!-- Story Box-->
                    <div class="border border-light p-2 mb-3">
                        <div class="d-flex align-items-start">
                            <div class="w-100">
                                <h5 class="m-0">Prof. {{user.first_name}}</h5>
                                <p class="text-muted"><small>15 hours ago</small></p>
                            </div>
                        </div>
                        <p>The video is very informtative! </p>

                        <iframe src="https://player.vimeo.com/video/375468729?h=d063a6fe74" height="300" class="img-fluid border-0"></iframe>
                    </div>

                    <div class="text-center">
                    </div>
                </div>
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>
    <!-- end row-->

</div>


{% endblock %}
