{% extends "base.html" %} {% block title %}Teacher Messages{% endblock %}
{% block content%}
<main class="content">
    <div class="container p-0">

		<h3 class="h3 mb-3">Messages</h3>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="text" class="form-control my-3" placeholder="Search...">
							</div>
						</div>
					</div>

					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="badge bg-success float-right">5</div>
						<div class="d-flex align-items-start">
							<div class="flex-grow-1 ml-3">
								Mr. Doe
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="badge bg-success float-right">2</div>
						<div class="d-flex align-items-start">
							<div class="flex-grow-1 ml-3">
								Ms. Harris
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="d-flex align-items-start">
							<div class="flex-grow-1 ml-3">
								Ms. Lessman
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="d-flex align-items-start">
							<div class="flex-grow-1 ml-3">
								Mr. Mason
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="d-flex align-items-start">
							<div class="flex-grow-1 ml-3">
								Mr. Green
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="d-flex align-items-start">
							<div class="flex-grow-1 ml-3">
								Ms. Wilder
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="d-flex align-items-start">
							<div class="flex-grow-1 ml-3">
								Mrs. Kennedy
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="d-flex align-items-start">
							<div class="flex-grow-1 ml-3">
								Mr. Chang
							</div>
						</div>
					</a>

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
							</div>
							<div class="flex-grow-1 pl-3">
								<strong>Sharon</strong>
								<div class="text-muted small"><em>Typing...</em></div>
							</div>
						</div>
					</div>

					<div class="position-relative">
						<div class="chat-messages p-4">

							<div class="chat-message-right pb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:33 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">You</div>
									Sharon, is there another resource I can recommend about Projectile Motion?
								</div>
							</div>

							<div class="chat-message-left pb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:34 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">Sharon Lessman</div>
									Hi, yes, let me check the AskMissy
								</div>
							</div>

							<div class="chat-message-right mb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:35 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">You</div>
									My student has a hard time understanding the text from class. Can you try to find one with mainly pictures?
								</div>
							</div>

							<div class="chat-message-left pb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:36 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">Sharon Lessman</div>
									I understand that, I should be able to get back to you about the resource soon.
								</div>
							</div>

							<div class="chat-message-left pb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:37 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">Sharon Lessman</div>
									What is the student's reading level?
								</div>
							</div>

							<div class="chat-message-right mb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:38 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">You</div>
									Grade level 7
								</div>
							</div>

							<div class="chat-message-left pb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:39 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">Sharon Lessman</div>
									I can check for you.
								</div>
							</div>

							<div class="chat-message-right mb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:40 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">You</div>
									Thank you.
								</div>
							</div>

							<div class="chat-message-right mb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">2:41 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">You</div>
									If you can't find one with a lot of pictures don't worry about it. As long as the reading level is around grade level 7.
								</div>
							</div>

							<div class="chat-message-left pb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">3:42 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">Sharon Lessman</div>
									Apologies for the late reply. I have found some on AskMissy. I'll send you a link to it.
								</div>
							</div>

							<div class="chat-message-right mb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">3:43 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">You</div>
									Awesome, thank you!
								</div>
							</div>

							<div class="chat-message-left pb-4">
								<div>
									<div class="text-muted small text-nowrap mt-2">3:44 pm</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">Sharon Lessman</div>
									You're welcome!
								</div>
							</div>

						</div>
					</div>

					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Type your message">
							<button class="btn btn-primary">Send</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}